<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8">
     <title>Paws & Claws</title>
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
 </head>
 <body>
 <table>
   <tr>
       <td class="heading" style="width 70%">
         <h1>Paws & Claws</h1>
       <td class="newuser" style="width 15%">
         <% if @user %>
            <h2>Welcome, <%= @user.email %></h2>

      <form action="/sessions/destroy" method="post">
        <input type="submit" value="Sign out" /></form>
        <form action="/my_account" method="post">
          <input type="submit" value="My Account" /></form>
        <% else %>
        <a href="/users/new"><button class="front_page" type="button" name="register"> Register</button></a>
        <a href="/sessions/new"><button class="front_page" type="button" name="register">Login</button></a></td>
               <% end %>
    </tr>
  </table>
  <table>

    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Picture </th>
      <th> Price Per Day </th>
      <th> Link to Profile </th>
      </tr>
      <% @cats.each do |cat| %>
      <tr>
      <td><%= cat.name %></td>
      <td><%= cat.description %></td>
      <td> <img class="cat-picture" src='<%=cat.picture%>' alt="picture of a cat"></td>
      <td><%= cat.price %></td>
      <td> <a href="/cats/<%=cat.id%>"><button style="button">Profile</button></a></td>
    </tr>
      <% end %>
    </table>
  </body>
</html>
