<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>Paws & Claws</title>
    <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
 </head>
 <body>
   <table>
     <tr>
       <td class="heading" style="width 75%">
         <h1>Paws & Claws</h1>
       </td>
       <td class="newcat" style="width 25%">
         <a href="/add"><button class="adding" type="button" name="add_cats"> Add a cat</button></a>
       </td>
     </tr>
   </table>
<table>

    <tr>
      <th> Name </th>
      <th> Description </th>
      <th> Picture </th>
      <th> Price Per Day </th>
      <th> Link to Profile </th>
      </tr>
      <% @cats.each do |cat| %>
      <tr>
      <td><%= cat.name %></td>
      <td><%= cat.description %></td>
      <td> <img class="cat-picture" src='<%=cat.picture%>' alt="picture of a cat"></td>
      <td><%= cat.price %></td>
      <td> <a href="/cats/<%=cat.id%>"><button style="button">Profile</button></a></td>
    </tr>
    <% end %>
  </table>
</body>
</html>
