<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8">
     <title>Paws & Claws</title>
      <link rel="stylesheet" href="style.css">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
 </head>
 <body>
   <table>
  <tr>
      <td class="heading" style="width 70%">
        <h1>Paws & Claws</h1>
      <td class="newuser" style="width 15%">
        <% if @user %>
           <h1>Welcome, <%= @user.email %></h1>

     <form action="/sessions/destroy" method="post">
       <input type="submit" value="Sign out" /></form>
       <form action="/my_account" method="post">
         <input type="submit" value="My Account" /></form>
       <% else %>
       <a href="/users/new"><button class="front_page" type="button" name="register"> Register</button></a>
       <a href="/sessions/new"><button class="front_page" type="button" name="register">Login</button></a></td>
              <% end %>
   </tr>
 </table>
 <h1><%= @cat.name %></h1>
<img src="<%= @cat.picture %>" alt="Cat Picture">
<p><%= @cat.description %></p>
<p><%= @cat.price %></p>
Dates Available <br>
Book
<form action="/cats/<%= @cat.id %>/book" method="post">
  <input type='date' name='start_date'>
  <input type='date' name='end_date'>
  <input type='submit' name='Book'>
</form>

<%= flash[:notice] %>
</body>
</html>
